.header {
    margin-top: 20vh;
    text-align: center;
}

.container {
    color: #fff;
    background: url("/static/Login_Register_Background.png");
    width: 100%;
    text-align: center;
}

.loginContainer {
    width: 50%;
    margin: auto;
    
}

.form {
    width: 100%;
    margin: auto;
    margin-top: 2vh;
    background: rgba( 245, 166, 35, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px #dcdada);
    text-align: center;
    padding: 5vh 2vw;
    height: min-content;
    border-radius: 3vw;
}

.loginLabels {
    display: grid;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.submit {
    display: inline-block;
    margin-top: 4vh;
    width: 100%;
    background-color: rgba(206, 101, 15, 0.15);
    color: #fff;
    font-size: 2.5vh;
    border-radius: 0.5vw;
    padding: 3vh;
    cursor: pointer;
    box-sizing: border-box;
}

.login {
    color: #FC7753;
    cursor: pointer;
}
.login:hover {
    text-decoration: underline;
}

